<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HawkNet" version="1.4.2.0" targetFramework="net451" />
  <package id="HawkNet.WebApi" version="1.4.3.0" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.SelfHost" version="5.1.2" targetFramework="net451" />
  <package id="Microsoft.AspNet.WebApi.Tracing" version="5.1.2" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net451" />
  <package id="Owin" version="1.0" targetFramework="net451" />
</packages>