<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cors" type="Apress.Recipes.WebApi.RemoteServer.CorsSection, Apress.Recipes.WebApi.RemoteServer" allowExeDefinition="MachineToApplication" />
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <cors>
    <corsPolicies>
      <add name="setup1" origins="http://localhost:43641" headers="*" methods="get" />
    </corsPolicies>
  </cors>
</configuration>