@model Apress.Recipes.WebApi.SelfHost.Item
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Item</title>
</head>
<body>
    <h1>@Model.Id</h1>
    <h2>@Model.Name</h2>
</body>
</html>
